<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2> Tempo della corsa </h2>
        <p>Inizia il monitoraggio</p>
        <ion-list>
          <ion-item *ngIf="visibilityBox">
            <ion-select placeholder="Select Box" (ionChange)="onBoxSelect($event)">
              <div slot="label">Scegli Box<ion-text color="danger"></ion-text></div>
              <ion-select-option value="{{box.boxID}}" *ngFor="let box of boxServices.allBox">{{ box.boxName }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-item *ngIf="!visibilityBox">
          <h2>Box selezionata: {{selectedBox.boxName}}</h2>
        </ion-item>
        <span *ngIf="timerVisibility">
        <br>
        <h1>{{ elapsedTime | date: 'mm:ss.SSS' }}</h1>
        <br><br>
        <ion-button (click)="start()" expand="block" *ngIf="startAndStop">Inizio Corsa</ion-button>
        <br>
        <ion-button (click)="reset()" expand="block" *ngIf="!startAndStop">Fine Corsa</ion-button>
        </span>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>

        <ion-accordion-group *ngIf="!timerVisibility">
          <ion-accordion value="{{storico.id}}" *ngFor="let storico of corsaServices.storici">
            <ion-item slot="header" color="light">
              <ion-label>{{storico.data}} - {{storico.time}}</ion-label>
            </ion-item>
            <div class="" slot="content">
              <ion-list *ngFor="let item of corsaServices.alerts">
                <ion-item *ngIf="storico.id == item.routeId">
                  <ion-label color="danger">Type: {{item.type}} - Value: {{item.value}} - Time: {{item.time}}</ion-label>
                </ion-item>   
              </ion-list>
            </div>
          </ion-accordion>
        </ion-accordion-group>

      
        <ion-list *ngIf="timerVisibility && corsaServices.tempID != '' ">
          <span *ngFor="let item of corsaServices.alerts">
          <ion-item *ngIf="item.routeId == corsaServices.tempID">
            <span>
            <ion-label color="danger">Type: {{item.type}} - Value: {{item.value}} - Time: {{item.time}}</ion-label>
            </span>
          </ion-item>
        </span>
        </ion-list>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
